body {
  padding: 20px;
}
.connected {
  background: green;
}
.disconnected {
  background: red;
}
.status-span span {
display: block;
width: 20px;
height: 20px;
border-radius: 10px;
}
.join-btn {
  margin: 10px auto;
}
